<div layout="column" ng-hide="isLoggedIn" layout-align="center center" flex>

  <md-content style="width:90%" class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom >
      
      <md-tab label="Company">
         <md-content >
   				<h2>
  HiveInTown
  <span>Manage Community</span>
</h2>
<div class="body">
	
<p>	We are into the business of community management.
	 Any community that has common things to handle,issues to address,
a need to handle financial transactions while keeping it in order for inspection by members anytime and also needs tax related auditing
a need for creating a forum for exchange of information, ideas and general recreation </p>
<h2><span> Mission </span> </h2>
<p>Mission Statement: Enabling the community managers with tools and functions to reduce the burden of financial account management, managing events, keeping records and effective communication with the community members

Providing community members with timely and accurate information and an efficient and multiple channels of communication to interact with community managers and other members for different purposes

To enable a safe and thriving community where members are well informed, effectively participate in community decision making, identify and resolve issues effectively, discuss and form ideas to better the community and its surroundings along with creating friendships, cooperating and exchanging information and ideas with one another without hindered by their limited time and, or knowledge of technology </p>
<h2><span>Goal </span></h2>
<p>The Goal is to build a successful company that builds a product which brings true value to its customers along with being financially profitable to the owners of the company.

We strongly believe in the power of community to do much greater things when working together and the goal is to build a product that encourages people to participate by removing the obstacles that holds people back and increases productivity of the tasks that a motivated community undertakes. The goal is to make communities dream bigger and achieve seemingly impossible results by making the process of bringing people together and exchange of information and ideas simple and easy for everyone

Objective is to build a community portal that is used by the entire community and not just be the committee members as a tool to be informed about happenings at the community and resolve issues that needs communication with the committee members and committee office more effectively than a traditional process in an apartment complex or a gated community by end of the year </p>
<date>Updated: Jul 12, 2015</date>
<p> Eikya Technologies</p>
</div>
        </md-content>

      </md-tab>
      
      <md-tab label="Team">
        <md-content>
          <md-card-content>
          <div layout="column">
		  <div layout="row">
	      		<span flex></span>
		  		<md-card>
		  		<md-card-content>
		  			<div layout="column" >
		  				<img src="img/hitprofile/padma.jpg" alt="Padmashree Bhat(M.R)">
		  				<h4> Padmashree M.R</h4>
					</div>	
				</md-card-content>
				</md-card>
				
				<span flex></span>
				<md-card>
				<md-card-content>
					<div layout="column" >
						<img src="img/hitprofile/chetana.jpg" alt="Chetana A.S">
						<h4> Chetana A.S </h4>
					</div>	
				</md-card-content>
				</md-card>
		
				<span flex></span>
				<md-card>
				<md-card-content>
				<div layout="column" >
						<img src="img/hitprofile/sonia.jpg" alt="Sonia Sharma">
					<h4> Sonia Sharma </h4>
				</div>
				</md-card-content>
				</md-card>
		  </div>
				<div layout="row">
					      		<span flex></span>
		  		<md-card>
		  		<md-card-content>
		  			<div layout="column" >
		  				<img src="img/hitprofile/aparna.jpg" alt="Aparna">
		  				<h4> Aparna Pillai</h4>
					</div>	
				</md-card-content>
				</md-card>
				
				<span flex></span>
				<md-card>
				<md-card-content>
					<div layout="column" >
						<img src="img/hitprofile/sowmiya.jpg" alt="Sowmiya">
						<h4> Sowmiya </h4>
					</div>	
				</md-card-content>
				</md-card>
		
				<span flex></span>
				<md-card>
				<md-card-content>
				<div layout="column" >
						<img src="img/hitprofile/deepamani.jpg" alt="Deepamani">
					<h4> DeepaMani </h4>
				</div>
				</md-card-content>
				</md-card>

		  </div>
		  				<div layout="row">
					      		<span flex></span>
				
				<span flex></span>
				<span flex></span>
		  </div>

          </div>
          </md-card-content>
          
        </md-content>
      </md-tab>
      <md-tab label="Contact">
        <md-content>
           	<md-card>
          	<md-card-content>
               <p><md-icon md-svg-src="img/md/svg/ic_email_24px.svg"></md-icon>
               hiveintown@gmail.com </p>
          	</md-card-content>
          	</md-card>
        </md-content>
      </md-tab>
      
    </md-tabs>
  </md-content>


</div>
